.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.stock-container {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

/* Ajustes no contêiner de input */
.stock-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 15px; /* Espaçamento maior entre os campos */
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Lista de estoque */
.stock-list {
  max-height: 200px; /* Define a altura máxima */
  overflow-y: auto;  /* Permite rolagem vertical */
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

li div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 10px; /* Adiciona margem à esquerda */
}

/* Estilos dos botões de mais e menos */
li button {
  width: 35px;
  height: 35px;
  font-size: 18px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px; /* Margem ao redor dos botões */
}
